name: Java CI with Gradle

on:
  push:
    branches: [ "master", "old-master" ]
  pull_request:
    branches: [ "master", "old-master" ]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Generate report from runPluginVerifier
        run: ./gradlew runPluginVerifier  --scan

      - name: Archive verification report
        uses: actions/upload-artifact@v3
        with:
          name: verification-report
          path: verificationReport/**

  scan_test:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Generate report from test
        run: ./gradlew test

  build-and-publish:
    runs-on: ubuntu-latest
    environment: intellij
    env:
      # Setting an environment variable with the value of a configuration variable
      JETBRAINS_PUBLISH_TOKEN: ${{ vars.JETBRAINS_PUBLISH_TOKEN }}
      JEBTRAINS_PUBLISH_CHANNEL: ${{ vars.JEBTRAINS_PUBLISH_CHANNEL }}

    steps:

      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish to jetbrains alpha channel
        run: ./gradlew publishPlugin

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: plugin-build
          path: build/distributions/plugin-*.zip