name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Build with Gradle
      run: ./gradlew buildPlugin --scan
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: plugin-build
        path: build/distributions/plugin-*.zip
    - name: Generate report from runPluginVerifier
      run: ./gradlew runPluginVerifier  --scan
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: verification-report
        path: verificationReport/**
